/* start  Global Variables*/
:root{
    --main-color: #2196f3;
    --main-hover:#fafafa;
    --main-header:rgb(1, 1, 58);
    --main-paragraph:#777;
}
 /*end Global Variables*/
 /*Start global rules*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F7F8FC;
    /* background-color: white; */
    font-family: 'Cairo', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.special-heading{
    width: fit-content;
    transition: 0.3s;
}
.special-heading h3::after,
.special-heading h3::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.3s;
    top: 50%;
    transform: translateY(-50%);
}
.special-heading h3::after{
left: 190px;
}
.special-heading h3::before{
right: 190px;
}
.special-heading h3:hover::after{
    z-index:-1 ;
animation: left-move 0.5s linear forwards;
}
.special-heading h3:hover::before{
    z-index:-1 ;
  animation:  right-move 0.5s linear forwards;
}
.special-heading h3{
  color: black;
  font-weight: 600;
  
}
.special-heading h3:hover{
color: white;
transition-delay: 0.3s;

}
/* end global rules*/
/* start animation */
@keyframes right-move {
    50%{
        width: 12px;
        height: 12px;
        right: 0;
    }
    100%{
        width: 100%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
    
}
@keyframes left-move {
    50%{
      width: 12px;
      height: 12px;
      left: 0;
    }
    100%{
         width: 100%;
         height: 100%;
         left: 0;
         border-radius: 0;
    }
    
}
@keyframes up-down{
    10%,20%,30%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(20px);
    }
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
/* end animation*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
/* start landing */
.landing{
    z-index: 1;
    position: relative;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    color:#F7F8FC;
}
.landing .text-content h2{
font-size: 25px;
font-weight: 800;
color: rgb(1, 1, 58);
}
.landing .text-content p
{
color: #777;
}
.landing .go-dwon{
        color: var(--main-color);
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateY(-50%);
        transition: 0.3s;
    }
    .landing .go-dwon:hover{
        color:black;
    }
    .landing .go-dwon i{
        animation: up-down 1.5s infinite;
   }
/* end landing */

/* start how-it-work*/
.how-it-works{
    z-index: 1;
    background-color: #F7F8FC;
}
.how-it-works .line{
    top: 115px;
    width: 100%;
    height: 6px;
    background-color: rgb(250, 251, 255);
    box-shadow: 0 2px 5px 0 rgb(5 16 44 / 7%);
}
.how-it-works .row  .nbox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 29px;
    color: #F7F8FC; 
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse 2s infinite;

}
.how-it-works .row  .number{
    background-image: linear-gradient(-180deg, #2196f3 0%, #3331d0 100%);
    margin: 0 auto 20px;
}
.how-it-works .row .anmi1{
animation-delay: 0s;
}
.how-it-works .row .anmi2{
animation-delay: 0.75s;
}
.how-it-works .row .anmi3{
animation-delay: 1.5s;
}
.how-it-works .row .box{
    border-radius: 20px;
    top: 50px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  height: 431px;
  transition: 0.3s;
  overflow: hidden;
}
.how-it-works .row .box:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
  }
.how-it-works .row .box img{
    max-width: 100%;
}
.how-it-works .row .box h4{
    
color: black;
font-weight: 600;
font-size: 15px;
padding-bottom: 10px;
}
.how-it-works .row .box p{
 color: var(--main-paragraph);
 font-size: 15px;
 /* line-height: 30px; */
}

/* end how-it-work*/

/* start review*/

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

.container {

    position: relative;
    z-index: 100
}

.container .row .card {
    width: 300px;
    height: 300px;
    margin: 30px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    cursor: pointer
}

.container .row .card .card-body {
    padding: 1rem 1.2rem;
    color: rgb(0, 0, 0)
}

.container .row .card .card-body .card-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    transform: translateY(50px);
    transition: 0.5s;
    border-radius: 50%
}

.container .row .card .card-body .name {
    transform: translateY(50px);
    transition: 0.5s
}

.container .row .card .card-body .testimonial {
    font-size: 0.9rem;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.5s;
    opacity: 0
}

.container .row .card:hover .card-body .testimonial,
.container .row .card:hover .card-body .name,
.container .row .card:hover .card-body .card-img img {
    transform: translateY(0px);
    opacity: 1
}

@media(max-width: 991.5px) {
    .Reviews::after {
        clip-path: circle(40% at 10% 50%)
    }

    .Reviews::before {
        clip-path: circle(50% at right -10%)
    }
}

.Reviews::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1900px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2d2dff, #ff2f2f);
    clip-path: circle(25% at right)
}

.Reviews::after {
    content: '';
    position: absolute;
    left: 0;
    top: 2000px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(#870aec, #6e0b81);
    clip-path: circle(20% at 10% 10%);
}
/* end reviews */
/* start contact */
.contact{
    margin-top: 100px;
    margin-bottom: 80px;
} 
.contact img{
    
    opacity: 0.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
  }
  
  .section-content{
    text-align: center; 
  
  }
  .contact{
      font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
     
    /* background: -webkit-linear-gradient(to left, #3a6186 , #89253e); 
    background: linear-gradient(to left, #3a6186 , #89253e); 
      color : #fff;     */
  }
  .contact-section{
    padding-top: 40px;
  }
  .contact-section .col-md-6{
    width: 50%;
  }
  
  .form-line{
    border-right: 1px solid #B29999;
  }
  
  .form-group{
    margin-top: 10px;
  }
  label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
  }
  .form-control{
    font-size: 1.3em;
    color: #080808;
  }
  textarea.form-control {
      height: 135px;
     /* margin-top: px;*/
  }
  
  .submit{
    font-size: 1.1em;
    /* float: right; */
    width: 150px;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
  
  }
  
/*  end contact */