/* start  Global Variables*/
:root{
    --main-color: #2196f3;
    --main-hover:#fafafa;
    --main-header:rgb(1, 1, 58);
    --main-paragraph:#777;
}
 /*end Global Variables*/
 /*Start global rules*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #F7F8FC;
    /* background-color: white; */
    font-family: 'Cairo', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.special-heading{
    width: fit-content;
    transition: 0.3s;
}
.special-heading h3::after,
.special-heading h3::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.3s;
    top: 50%;
    transform: translateY(-50%);
}
.special-heading h3::after{
left: 190px;
}
.special-heading h3::before{
right: 190px;
}
.special-heading h3:hover::after{
    z-index:-1 ;
animation: left-move 0.5s linear forwards;
}
.special-heading h3:hover::before{
    z-index:-1 ;
  animation:  right-move 0.5s linear forwards;
}
.special-heading h3{
  color: black;
  font-weight: 600;
  
}
.special-heading h3:hover{
color: white;
transition-delay: 0.3s;

}
/* end global rules*/
/* start animation */
@keyframes right-move {
    50%{
        width: 12px;
        height: 12px;
        right: 0;
    }
    100%{
        width: 100%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
    
}
@keyframes left-move {
    50%{
      width: 12px;
      height: 12px;
      left: 0;
    }
    100%{
         width: 100%;
         height: 100%;
         left: 0;
         border-radius: 0;
    }
    
}
@keyframes up-down{
    10%,20%,30%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(20px);
    }
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
/* end animation*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
/* start landing */
.landing{
    z-index: 1;
    position: relative;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    color:#F7F8FC;
}
.landing .text-content h2{
font-size: 25px;
font-weight: 800;
color: rgb(1, 1, 58);
}
.landing .text-content p
{
color: #777;
}
.landing .go-dwon{
        color: var(--main-color);
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateY(-50%);
        transition: 0.3s;
    }
    .landing .go-dwon:hover{
        color:black;
    }
    .landing .go-dwon i{
        animation: up-down 1.5s infinite;
   }
/* end landing */

/* start how-it-work*/
.how-it-works{
    z-index: 1;
    background-color: #F7F8FC;
}
.how-it-works .line{
    top: 115px;
    width: 100%;
    height: 6px;
    background-color: rgb(250, 251, 255);
    box-shadow: 0 2px 5px 0 rgb(5 16 44 / 7%);
}
.how-it-works .row  .nbox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 29px;
    color: #F7F8FC; 
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse 2s infinite;

}
.how-it-works .row  .number{
    background-image: linear-gradient(-180deg, #2196f3 0%, #3331d0 100%);
    margin: 0 auto 20px;
}
.how-it-works .row .anmi1{
animation-delay: 0s;
}
.how-it-works .row .anmi2{
animation-delay: 0.75s;
}
.how-it-works .row .anmi3{
animation-delay: 1.5s;
}
.how-it-works .row .box{
    border-radius: 20px;
    top: 50px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  height: 431px;
  transition: 0.3s;
  overflow: hidden;
}
.how-it-works .row .box:hover {
    transform: translateY(-10px);
    box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
  }
.how-it-works .row .box img{
    max-width: 100%;
}
.how-it-works .row .box h4{
    
color: black;
font-weight: 600;
font-size: 15px;
padding-bottom: 10px;
}
.how-it-works .row .box p{
 color: var(--main-paragraph);
 font-size: 15px;
 /* line-height: 30px; */
}

/* end how-it-work*/