
// font-family: 'Poppins', sans-serif;
$main-color: #2196f3;
    $main-color-alt: #1787e0;
    $main-transition-duration: 0.5s;
    $main-padding:100px;
    $section-background: #ececec;
    $aColor:#fafafa;
    $sectionColor2:#fff;
    $textColor:#777;

  
  