
 .card {
    padding: 1em;
    border-radius: 10px;
   
}
  .card .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
    background-color: #E0E0E0;
    align-content: normal;

}
  .card2 {
    padding: 2em;
}
#viewride  #viewride textarea {
    padding: 15px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #616161;
    border: 1px solid #F5F5F5;
    font-size: 16px;
    letter-spacing: 1px;
    height: 120px !important;
    width: 100%;
}

#viewride textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00C853 !important;
    outline-width: 0 !important;
}

#viewride select {
    border: none;
    font-size: 15px;
    background-color: #fff !important;
}

#viewride select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0 !important;
}

#viewride ::placeholder {
    color: #BDBDBD;
}

#viewride :-ms-input-placeholder {
    color: #BDBDBD;
}

#viewride ::-ms-input-placeholder {
    color: #BDBDBD;
}

#viewride .btn-success {
    border-radius: 50px;
    padding: 4px 40px;
} 

#viewride .options {
    font-size: 23px;
    color: #757575;
    cursor: pointer;
}

#viewride .options:hover {
    color: #000;
}

#viewride i{
    color: #0d6efd;
}
#fa-lg i{
    font-size: xx-large;
}