 /* start header*/
 nav{
    background-color: rgb(250, 251, 255);
    /* border-radius: 0 0 10px 10px; */
    box-shadow: 0 10px 20px 0 rgb(5 16 44 / 15%);
    z-index: 16;
  }
.collapse { 
    display: flex;
    justify-content: flex-end;
}
nav{
    padding: 0;
    position: relative;
    
}
.navbar{
    background-color: rgb(250, 251, 255);
}
.navbar .container >a {
    font-weight: 900;
    color: var(--main-color);
} 
nav {
    padding: 0px;
    height: 90px;
}
.navbar .navbar-nav>li{
    position: relative;
}
.navbar .navbar-nav >li > a {
   font-weight: 600;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    z-index: 1;
    transition: 0.3s;
    height: 90px;
}
.navbar .navbar-nav >li > a:hover {
   color: var(--main-color);
}
.navbar .navbar-nav >li > a::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: rgb(233, 239, 250);
    z-index: -1;
    left: 0;
    top: 0;
    transition: 0.3s;
}
.navbar .navbar-nav >li > a:hover:before {
    width: 100%;
}
.navbar .navbar-nav >li::after{
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.navbar .navbar-nav >li:hover::after{
    width: 100%;
}
/* badge */
.badge {
    padding: 0.3em 0.5em;
    border-radius: 050%;
    background: #ef1f1fd1;
}
/* end header*/